body{
	/*background-image:url('images/mick.jpg');*/
	/*background-color:#002fa7;/*klein*/
	}
.carte{
	
}

.ImageCarte{
	height:180px;
	width:180px;
}

.AttDef{
	width:30px;
	height:30px;
	display:inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
